.App {
  text-align: center;
}

.child{
  transition: 0.3s  ease-in-out;
}

.child :hover{
  transform: scale(1,1.1);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);

}
.child :hover::after{
  opacity: 1;

}

*{
  margin: 0; padding:0; box-sizing: border-box;
  font-family: 'Mulish', sans-serif;}
  .grand_parent{ width: 100vw; height:100vh;
    background: #dfe6e9; color: #fff;}
  h1{
    font-size: 4rem;
    padding: 20px 0;
    text-align: center;
    color: #000;
  }
  p{
    text-align: center;
  }
  .parents{ width: 90vw; height: auto; margin: auto;
    display: flex;  justify-content: space-around;
    flex-wrap: wrap; transition: all 0.2 linear;
  }
  .child{
    height: 200px;
  
    box-shadow: 0 0 20px #bac3c3;
    flex:1 1 300px;
    margin: 10px;
  }
  
  
  
  @media (max-width: 768px){
    .grand_parent{height:auto; }
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
